/* ページレイアウト (section.sheet を１ページとする) */
.sheet {
  /* 用紙サイズ B5 */
  height: 182mm;
  width: 257mm;
}

/* 印刷用スタイル */
@media print {
  /* 印刷時の用紙設定 */
  @page {
    /* 用紙サイズ */
    /* size: 257mm 182mm; */
    size: JIS-B5 landscape;
  }
  body {
    width: 257mm;
    height: 182mm;
  }
}
