/* 印刷時の用紙設定 */
@page {
  size: 257mm 182mm; /* 用紙サイズ */
}

/* ページレイアウト (section.sheet を１ページとする) */
.sheet {
  /* 用紙サイズ B5 */
  height: 181mm;
  width: 257mm;
}

/* 印刷用スタイル */
@media print {
  body {
    /* width: 257mm; */
    height: 181mm;
  }
}
